.idea/
.cxx/
build/
cmake-build-*/
CMakeFiles/
CMakeCache.txt
compile_commands.json
__pycache__/
bin/
.*.creating-*/
*.so.*
*.7z
*.a
*.aab
*.apk
*.class
*.dex
*.dll
*.dylib
*.elf
*.exe
*.gz
*.ko
*.kpm
*.lib
*.log
*.map
*.o
*.obj
*.pdb
*.pyc
*.so
*.spv
*.tar
*.zip
